---
import Layout from '../layouts/Layout.astro';

//fueeは「ふえぇ」を100回繰り返す
const fuee = 'ふえぇ'.repeat(1000);
---

<Layout title="ふえぇ！！！！">
	<main>
		<h1 class="text-4xl">こんにちは</h1>
		<h2 class="text-2xl">説明</h2>
		<p>Astroというフレームワークを使っています。taiwindcssでデザインしています。フッターとヘッターは共通です。jsのコードをコンパイル結果に全く残さないらしい。だから早い。コードはほぼほぼhtmlそのまま。</p>

		<a href="/website/fuee">次のページへ</a>
		<p>{fuee}</p>
		
	</main>
</Layout>
